VITE_SUPABASE_URL=https://mvlmkcskhepvmnjmdxjp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12bG1rY3NraGVwdm1uam1keGpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2NDk2MTEsImV4cCI6MjA4MDIyNTYxMX0.XBas75rG9HMg-uXHrVfkS5wExBxlbJEdxOXZ5f0lHjw
VITE_API_URL=http://localhost:3000
